<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            text-align: center; 
        }

        h1 {
            color: #2c3e50;
            margin-top: 20px;
            font-size: 2.5em; 
        }

        p {
            color: #34495e;
            font-size: 1.2em; 
            margin: 20px 0; 
            line-height: 1.5;
        }

    </style>
</head>
<body>

    <h1>Privacy Policy</h1>

    <p>
        Use this page to detail your site's privacy policy.
    </p>

</body>
</html>
